/auto-save-list
/elpa
/.python-environments
/url
/transient

ido.last
network-security.data
recentf
bookmarks

*.dat
.last-package-update-day
.org-id-locations
projectile-bookmarks.eld
smex-items
/eshell/history
/eshell/lastdir

\#*\#
