/auto-save-list
/elpa
/.python-environments
/url
/transient
/tramp
/var
/image-dired
/session.*

ido.last
network-security.data
recentf
bookmarks

*.dat
*.elc
.last-package-update-day
.org-id-locations
projectile-bookmarks.eld
smex-items
/eshell/history
/eshell/lastdir
custom.el

\#*\#
